body{
  margin:100px 200px 50px 200px;
  }

  .header img{
    position: fixed;
    right:50px;
    top:50px;
  width:300px;
  height:300px;
}

.size{
  right:25px;
  top:25px;
}
.contact{
  color: #101518;
font-family: 'Source Sans Pro', sans-serif;
font-size: 21px;
}

.intro{
  color:#101518;
  line-height: 1.6;
  font-size: 36px;
  font-family: 'Bungee', cursive;
}

.blurb{
  margin: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.figure img{
  /* background-color: red; */
  height: 300px;
}
.text img{
    /* background-color: yellow; */
  height: 300px;
}

.images img{
margin: 100px 0 100px 0;
  height:600px;
}
