  .header img{
    z-index:10;
    position: fixed;
    right:200px;
    top:100px;
  width:300px;
  height:260px;
}

.content-width{
    z-index:9;
  margin:100px 200px 50px 200px;
  position: absolute;
  top: 0;
  left:0;
}
.intro{
  max-width:600px;
  z-index:2;
  color:#101518;
  line-height: 1.6;
  font-size: 32px;
  font-family: 'Bungee', cursive;
}

.intro b{
  color:#C1569E;
}
.blurb{
  position: relative;
  margin: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* background-color: green; */
}

.figure img{
  /* background-color: yellow; */
  height: 400px;
}
.text{
  width: 400px;
  height: 340px;
  /* background-color: yellow; */
  position: relative;
}
.text img{
    width: 400px;
    /* background-color: blue; */
  height: 340px;
}
.text .form{
  cursor: pointer;

  z-index:2;
  top: 0;
  bottom: 0;
  position: absolute;
}
.text .form:hover{
  cursor: pointer;
  opacity: 0;
}
.text .formclick{
  cursor: pointer;
  top: 0;
  bottom: 0;
  position: absolute;
}


.images{
  /* background-color: red; */
  width: 600px;
  height: 500px;
  margin-top:50px;
    margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  /* background-color: yellow; */
  overflow: hidden;
}

.image_animate{
  /* background-color: blue; */
  display: flex;
  flex-wrap:nowrap;
  justify-content: flex-start;
  align-items: stretch;
  animation: move 3s steps(3)infinite;
  }

  @keyframes move {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1800px);
  }
  }
.image-1,
.image-2,
.image-3{
  width: 600px;
  height: 500px;
}

.image-1 img,
.image-2 img,
.image-3 img{
  width: 600px;
  height: 500px;
}


.team{
  font-size: 32px;
  font-family: 'Bungee', cursive;
}

.members{
  margin: 20px 0 20px 0;
  line-height: 1.4;
  font-size: 16px;
  color:#C1569E;
}

.members b{
  color:#000000;
}

.partners{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee Hairline', cursive;
  margin: 40px 0 40px 0;
  line-height: 1.4;
  font-size: 16px;
  color:#000000;
}
.partners img{
  width:70px;
  margin-right:20px;
    margin-left:10px;
}


.partner1,
.partner2,
.partner3{
  display:flex;
  flex-wrap: nowrap;
  align-items:  center;
  justify-content:  center;
}
.contact{
  font-family: 'Bungee', cursive;
font-size: 16px;
text-align: center;
}


a{
text-decoration: underline;
  color: black;
  /* text-decoration: none; */
}

@media(max-width:800px) {

    .content-width{
        z-index:9;
      margin:50px 50px 50px 50px;
max-width: 750px;
     position: absolute;
      top: 0;
      left:0;
    }

    .intro{

      font-size: 24px;
    }
    .blurb{
      margin: 50px 0 50px 0;
  }


}
@media(max-width:400px) {

    .content-width{
      max-width:350px;
        z-index:9;
      margin:20px 20px 20px 20px;

      position: absolute;
      top: 0;
      left:0;
    }
    .intro{

      font-size: 24px;
    }
    .figure img{
      height: 320px;
    }

    .text{
      width: 300px;
      height: 270px;
      /* background-color: yellow; */
      position: relative;
    }
    .text img{
        width: 300px;
        /* background-color: blue; */
      height: 270px;
    }
.images{
  width: 300px;
  height: 270px;
}
    .image-1 img,
    .image-2 img,
    .image-3 img{
      width: 300px;
      height: 270px;
    }

    .partners{

      flex-wrap: wrap;

      margin: 40px 0 40px 0;

    }


  }
